extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Murray Fenstermaker
        p.lead.text-light
          | Software Developer.

        .portfolio-bio
          p
            | I am an aspiring developer with a plethora of experience scattered between different disciplines. 
            | I have taught others to code, worked on natural disasters, and helped get startup tech companies off the ground.
            | Now its my turn to help you succeed.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li C#
          li Swift
          li Java
          li JavaScript
          li C++
          li Unity
          li RegEx
          li HTML
          li CSS
          li Objective-C
          li Workday Studio
          li BIRT
        h6 Contact Info
        ul
          li 555-555-1234
          li rfenster@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/murray-fenstermaker') LinkedIn
        a.button.expanded(href='https://github.com/NostalgiaBox') GitHub
        a.button.expanded(href='https://twitter.com') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  