extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 My Portfolio

      p.lead.text-light
        | This is my attempt at creating an express server from the ground up, and hey, why not make it a portfolio site as well?  So here we are, welcome to my portfolio.  This is using Express, Node.js, and Pug to parse JSON into HTML.  Look around, have fun, and hey, why not try to break a page or two?
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      for project in projects
        .cell
          a(href=`projects/${project.id}`)
            img.thumbnail(src=`/static/images/${project.image_urls[0]}`)
            h5 #{project.project_name}
      